soa_3/Bookstore/Service References/storage/BookStorage.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BookStorage" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:57739/BookStorage.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:57739/BookStorage.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:57739/BookStorage.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BookStorage" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBookStorage_ReadBooks_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadBooks" />
  </wsdl:message>
  <wsdl:message name="IBookStorage_ReadBooks_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadBooksResponse" />
  </wsdl:message>
  <wsdl:message name="IBookStorage_WriteBooks_InputMessage">
    <wsdl:part name="parameters" element="tns:WriteBooks" />
  </wsdl:message>
  <wsdl:message name="IBookStorage_WriteBooks_OutputMessage">
    <wsdl:part name="parameters" element="tns:WriteBooksResponse" />
  </wsdl:message>
  <wsdl:portType name="IBookStorage">
    <wsdl:operation name="ReadBooks">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookStorage/ReadBooks" message="tns:IBookStorage_ReadBooks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookStorage/ReadBooksResponse" message="tns:IBookStorage_ReadBooks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WriteBooks">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookStorage/WriteBooks" message="tns:IBookStorage_WriteBooks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookStorage/WriteBooksResponse" message="tns:IBookStorage_WriteBooks_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBookStorage" type="tns:IBookStorage">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReadBooks">
      <soap:operation soapAction="http://tempuri.org/IBookStorage/ReadBooks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WriteBooks">
      <soap:operation soapAction="http://tempuri.org/IBookStorage/WriteBooks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BookStorage">
    <wsdl:port name="BasicHttpBinding_IBookStorage" binding="tns:BasicHttpBinding_IBookStorage">
      <soap:address location="http://localhost:57739/BookStorage.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>